<div class="container">
    <div class="container-body">
        <div class="login-area">
            <div class="header">
                <img src="../icons/logopizzaria.png">
                <div class="info">
                    <img src= <%=icon%>>
                    <h2>Área de <%=posto%></h2>
                </div>
            </div>
            <div class="input-area">
                <form action="" method="post">
                    <div class="user-area">
                        <label for="usuario">Usuário:</label>
                        <input type="text" id="usuario" name="usuario" required>
                    </div>
                    <div class="password-area">
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" required>
                    </div>
                    <div class="btn-area">
                        <input type="submit" value="Logar">
                        <a href="/">Cancelar</a>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>