.main-content .container{
    font-family: 'Roboto', sans-serif;
   
}

.main-content .container .page-selection{
    display: flex;
    justify-content: center;
    padding: 0 40px;
    background-color: lightgrey;
}

.main-content .container .page-selection p:first-of-type{
    margin-right: 20px;
}

.main-content .container .page-selection p{
    font-weight: 300;
    font-size: 1.8rem;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.main-content .container .page-selection .btn-pendentes{
    border-bottom: 1px solid blue;
    color: blue;
}

.main-content  .pedido-body img{
    width: 15px;
    cursor: pointer;
    margin-left: 20px;
    padding: 10px;
}

.main-content .pedido-status form {
    font-size: 1.5rem;
}
.main-content .pedido-status form input[type=submit]{
    background-color: darkgreen;
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 10px;
}

.main-content .pedido-status .cancelar input[type=submit]{
    background-color: darkred;
    border: 0;
    padding: 10px;
}


.main-content .pedido-status .cancelar{
    margin-left: 20px;
}

.main-content  .pedido-body{
    display: flex;
    border: 1px solid black;
    overflow-x: auto;
    align-items: center;
}

.main-content  .pedido-body div{
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    margin: 0 30px;
    align-items: center;
}

.main-content  .pedido-body .data p{
    font-size: 1.4rem;
}

.main-content  .pedido-body p{
    font-size: 1.6rem;
    margin-left: 2px;
    min-width: 150px;
}

.main-content  .pedido-body form input[type=submit]{
    font-size: 1.8rem;
}

.main-content  .pedido-status{
    background-color: lightgrey;
    border-left: 1px solid black;
    display: none;
    margin-left: 20px;
    padding: 20px;
}

.main-content .finalizados{
    display: none;
}

@media(max-width:425px){
    .main-content .pedido-status{
        display: block;
        flex-direction: column;
    }

    .main-content .pedido-status .confirmar input,
    .main-content .pedido-status .cancelar input{
        margin: 10px 0;
    }

    .main-content .pedido-status .cancelar{
        margin: 0;

    }
}


@media(max-width:260px){
    .main-content .container .page-selection p{
        font-size: 1.4rem;
    }
    .main-content .container .page-selection{
        padding: 0 10px;
    }
}